#veteran-tag {
  background-color: rgb(14, 14, 113);
  color: lightblue;
  width: fit-content;
  padding: 5px 15px;
}

.even {
  margin: 0 auto;
}

.no-margin {
  margin: 0px;
}

.quote-button {
  width: 200px;
  height: 72px;
  padding: 10px 20px;
}

.button {
  display: flex;
  gap: 10px;
}

.border {
  border: 1px;
  border-style: solid;
  width: 280px;
  min-width: 200px;
}

#service-box {
  width: 500px;
  height: 320px;
  background-color: rgb(249, 249, 248);
  padding: 20px;
  box-shadow: 5px 5px 10px black;
}

.services-row {
  justify-content: center;
  flex-wrap: wrap;
}

.service-selection {
  width: calc(50% - 70px);
  height: 50px;
  background-color: rgb(214, 214, 214);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@media (max-width: 576px) {
  #service-box {
    width: 80vw;
  }

  .border {
    width: 100px;
    min-width: 100px;
  }
}

.service-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: grey;
}

.service-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
}

.service-start {
  display: flex;
  justify-content: space-between;
}

#start-button {
  width: 100px;
  border-radius: 8px;
}
