.site-footer[b-kzkpyc0fpo] {
  background-color: rgb(68, 67, 67);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.small-font[b-kzkpyc0fpo] {
  margin: 0;
}
